/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.color1 { -fx-background-color: #7d95bd; }
.color2 { -fx-background-color: #96aece; }
.color3 { -fx-background-color: #afc7de; }
.color4 { -fx-background-color: #c7dfef; }
.color5 { -fx-background-color: #e0f8ff; }